/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
}
a {
  color: #2772b0;
}
.wrapper {
  width: 97%;
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: #fff;
}

div img {
  width: 100%;
  max-width: 225px;
}

/* grid system -- mobile first! */
.row {
  display: flex;
  flex-flow: row wrap;
}

/* 0 for top and bottom 4% for left and right */
[class*="col-"] {
  margin-left: 4%;
}

.col-1-2,
.col-1-4 {
  background-color: #ffc;
}

.col-2 {
  background-color: #ccf;
}

.col-3 {
  background-color: #fcf;
}

.col-4 {
  background-color: #cff;
}

.col-2-4 {
  background-color: #fcf;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
  .col-1-2,
  .col-2 {
    /* 2 wide */
    flex: 0 0 44%;
  }
  .col-1-4,
  .col-3,
  .col-4 {
    /* 4 wide */
    flex: 0 0 92%;
  }
  .col-2-4 {
    /* 4 wide */
    flex: 0 0 92%;
    order: -1;
  }
}
/* Desktop screen Sizes
 * The reason why you can't use justify-content to make a grid is because you
 * are "hard coding" the margins here, justify content will space your rows
 * evenly, but if the content size are different, it will not line up with
 * every row
 */
@media only screen and (min-width: 768px) {
  .col-1-2,
  .col-1-4 {
    /* 1 wide */
    flex: 0 0 20%;
  }
  .col-2 {
    /* 2 wide */
    flex: 0 0 44%;
  }
  .col-3 {
    /* 3 wide */
    flex: 0 0 68%;
  }
  .col-4 {
    /* 4 wide */
    flex: 0 0 92%;
  }
  .col-2-4 {
    /* 2 wide */
    flex: 0 0 44%;
    order: 0;
  }
}
